
.status {
  margin: 0 0 0 0;
  position: absolute;
  top: 82%;
  width: 100%;
  height: 125px;
  background: #1A237E;
}

.status-player {
  width: 25%;
  height: 125px;
  background: #747474;
}

.status-player ul,.status-player ul li, .status-player ul li p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.status-player ul li {
  float: left;
  width: 100%;
  margin: 2.5px 0 0 2.5px;
}

.status-player ul li p,.status-player ul li div {
  float: left;
}

.status-player ul li p {
  width: 30px;
}
.status-name {
  width: 100%;
}

.status-bar {
  width:75%;
  height: 25px;
  margin: 0 5px;
  background: #40404040;
}
