{% load staticfiles %}
<!--DOCTYPE html -->
<html>
    <head>
        <title>Game</title>
        <link rel='shortcut icon' type='img/png' href='{% static "favicon.png" %}'>
        <link rel='stylesheet' href='{% static "game/css/base.css" %}'>
        <link rel="stylesheet" href='{% static "game/css/player.css"%}'>
        <link rel="stylesheet" href='{% static "game/css/status.css"%}'>
        <script type='text/javascript' src='{% static "game/js/base.js" %}'></script>
        <script type='text/javascript' src='{% static "game/js/map.js" %}'></script>
        <script type='text/javascript' src='{% static "game/js/player.js" %}'></script>
        <script type='text/javascript' src='{% static "game/js/mob.js" %}'></script>
        <script type='text/javascript' src='{% static "game/js/update.js" %}'></script>
    </head>
    <body>
      {% for map in maps%}
      <div class="base" style='width: calc({{map.X}}px * 20); height: calc({{map.Y}}px * 20); background-image: url({% static "game/img/" %}{{map.name}}.jpg);'>
        {% for player in players %}
        <div class="{{ player.name }} player" style=' position: relative;'></div>
        {% endfor %}
      </div>
      {% endfor %}
      <div class="status">
        {% for player in players %}
        <div class="status-player" >
          <ul>
            <li><div class="status-name"><p>{{player.name}}</p></div></li>
            <li><p>HP </p><div class="status-bar"><div style="width: {{player.life}}%; height: 25px; background: linear-gradient(to right, #750404, #de0e0e);"></div></div></li>
            <li><p>MP </p><div class="status-bar"><div style="width: {{player.mana}}%; height: 25px; background: linear-gradient(to right, #0c6c99, #439cc6);"></div></div></li>
            <li><p>ST </p><div class="status-bar"><div style="width: {{player.stamina}}%; height: 25px; background: linear-gradient(to right, #06893a, #2cc368);"></div></div></li>
          </ul>
        </div>
        <div class="status-right"></div>
        {% endfor %}
      </div>
      <script>
      //Player: Spanw, atacks, movimentos
      var players = [];
      {% for player in players%}

      var player = {
        id:  "{{player.name}}",
        life: {{player.life}},
        mana: {{player.mana}},
        stamina: {{player.stamina}},
        key: [null,null],
        x:   {{ player.X }},
        y:   {{ player.Y }},

        action: function(key) {

          this.key[1] = key;
          analAction(this.key[1]);
        },

        mov: function() {
          console.log("Mov" + this.x + " " + this.y)
           document.getElementsByClassName(this.id)[0].style.top  = (this.y * 20) + "px";
           document.getElementsByClassName(this.id)[0].style.left = (this.x * 20) + "px";
        },

        normalAtack: function(place, atualKey) {
          return console.log("Atack");

        }

      }
      player.mov(player.y, player.x);
      players.push(player);
      {% endfor %}

      //Mapa
      {% for map in maps %}
      var map = {
        x:   {{ map.X }},
        y:   {{ map.Y }},
        wall:{{ map.wall }}
      }
      {% endfor %}

      //Mobs
      var mob = {
        name: "Elorrany",
        life: 100,
        x: 4,
        y: 2,

        spawn: function() {

          document.getElementsByClassName("base")[0].innerHTML += "<div class='" + this.name + "'></div>";
          document.body.getElementsByClassName(this.name)[0].style.width = "20px";
          document.body.getElementsByClassName(this.name)[0].style.height = "20px";
          document.body.getElementsByClassName(this.name)[0].style.background = "#00A6D2";
          document.body.getElementsByClassName(this.name)[0].style.position = "relative";
          this.action();
        },

        action: function() {

          AI(this.x, this.y, this.life);
        },

        mov: function(y, x) {

          this.y = y;
          this.x = x;

          document.getElementsByClassName(this.name)[0].style.top  = (this.y * 20) + "px";
          document.getElementsByClassName(this.name)[0].style.left = (this.x * 20) + "px";
        },

        atack: function(place) {

        }

      }

      mapFisics(map.wall, map.x, map.y);
      mob.spawn();
      engine(players[0]);
      </script>
    </body>
</html>
