{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/solid.css" integrity="sha384-osqezT+30O6N/vsMqwW8Ch6wKlMofqueuia2H7fePy42uC05rm1G+BUPSd2iBSJL" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/fontawesome.css" integrity="sha384-BzCy2fixOYd0HObpx3GMefNqdbA7Qjcc91RgYeDjrHTIEXqiF00jKvgQG0+zY/7I" crossorigin="anonymous">
  <link rel="stylesheet" href='{% static "manager/css/base.css" %}'>
  <script type='text/javascript' src='{% static "manager/js/base.js" %}'></script>
  <title>Game Management</title>
</head>
<body>
  <div class="NavBar">
    <div class="btn-menu" onclick="menu()"><i class="fas fa-bars fa-2x"></i></div>
    <div class="search">
      <form>
        <ul>
          <li>
            <p>Search:</p>
            <input type="text">
          </li>
        </ul>
      </form>
    </div>
  </div>
  <div class="menu-left">
    <ul>
      <li><a href="/game/manager/player"><i class="fas fa-address-card fa-2x"></i><p>Players</p></a></li>
      <li><a href="/game/manager/npc"><i class="fas fa-users fa-2x"></i><p>NPCs</p></a></li>
      <li><a href="/game/manager/mob"><i class="fas fa-pastafarianism fa-2x"></i><p>MOBs</p></a></li>
      <li><a href="/game/manager/map"><i class="fas fa-archway fa-2x"></i><p>Maps</p></a></li>
    </ul>
  </div>
  <div class="base">
    <div class="base-left">
      <div class='info'>
        <table>
        {% if players %}
        <link rel="stylesheet" href='{% static "manager/css/player.css"%}'>
          {% for player in players %}
          <tbody>
            <tr>
              <td class="id-table">Id</td>
              <td class="name-table">Name</td>
              <td class="class-table">Class</td>
              <td class="race-table">Race</td>
              <td class="date-table">Date</td>
              <td class="id-table">Map</td>
              <td class="id-table">X</td>
              <td class="id-table">Y</td>
              <td class="description-table">Description</td>
            </tr>
            <tr>
              <td class="id-table">{{ player.id }}</td>
              <td class="name-table">{{ player.name }}</td>
              <td class="class-table">{{ player.classes }}</td>
              <td class="race-table">{{ player.race }}</td>
              <td class="date-table">{{ player.date }}</td>
              <td class="id-table">{{ player.map }}</td>
              <td class="id-table">{{ player.X }}</td>
              <td class="id-table">{{ player.Y }}</td>
              <td class="description-table">{{ player.description }}</td>
            </tr>
          </tbody>
          {% endfor %}
        {% endif %}

        {% if npc %}
          {% for npc in npcs %}
          <tbody>
            <tr>
              <td class="id-table">Id</td>
              <td class="name-table">Name</td>
              <td class="date-table">Date</td>
            </tr>
            <tr>
              <td class="id-table">{{ npc.id }}</td>
              <td class="name-table">{{ npc.name }}</td>
              <td class="date-table">{{ npc.date }}</td>
            </tr>
          </tbody>
          {% endfor %}
        {% endif %}

        {% if mobs %}
          {% for mob in mobs %}
          <tbody>
            <tr>
              <td class="id-table">Id</td>
              <td class="name-table">Name</td>
              <td class="date-table">Date</td>
            </tr>
            <tr>
              <td class="id-table">{{ mob.id }}</td>
              <td class="name-table">{{ mob.name }}</td>
              <td class="date-table">{{ mob.date }}</td>
            </tr>
          </tbody>
          {% endfor %}
        {% endif %}

        {% if maps %}
          <link rel="stylesheet" href='{% static "manager/css/map.css"%}'>
          {% for map in maps %}
          <tbody>
            <tr>
              <td class="id-table">Id</td>
              <td class="name-table">Name</td>
              <td class="id-table">Y</td>
              <td class="id-table">X</td>
              <td class="name-table">History</td>
              <td class="date-table">Date</td>
              <td>Description</td>
            </tr>
            <tr>
              <td class="id-table">{{ map.id }}</td>
              <td class="name-table">{{ map.name }}</td>
              <td class="id-table">{{ map.Y }}</td>
              <td class="id-table">{{ map.X }}</td>
              <td class="name-table">{{ map.history }}</td>
              <td class="date-table">{{ map.date }}</td>
              <td>{{ map.description }}</td>
            </tr>
          </tbody>
          {% endfor %}
        {% endif %}
        </table>
      </div>
    </div>
  </div>
</body>
</html>
