body {
  margin: 0;
  padding: 0;
  background: #404040;
}

.NavBar {
  width: 100%;
  height: 50px;
  background: #3f8ead;
}

.search ul, ul li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.btn-menu {
  width: 50px;
  height: 50px;
  background: #2e6a90;
  float: left;
  cursor: pointer;
}

.btn-menu i {
  float: left;
  color: #fff;
  margin: 9px;
  padding: 0;
}

.NavBar .search {
  float: right;
  width: 20%;
  height: 50px;
}
.NavBar .search ul {
  margin: 0 0 0 5px;
}
.NavBar .search input {
  margin: 10px 5px 0 5px;
  float: left;
}

.NavBar .search p {
  color: #fff;
  float: left;
  margin: 15px 0 0 0;
}

.menu-left {
  display: none;
  position: absolute;
  top: 50px;
  width: 25%;
  background: #2e6a90;
  float: left;
  z-index: 999;
}

.menu-left ul, ul li, ul li p {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.menu-left ul li {
  box-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  margin: 10px 0 0px 0px;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.menu-left p {
  color: #fff;
  margin: 0;
  font-size: 25px;
  width: 85%;
  float: right;
}

.menu-left i {
  color: #fff;
  float: left;
  text-align: center;
  width: 15%;
}

.base {
  display: block;
  width: 100%;
  background: #9b9b9b;
}
.base-top {
  width: 100%;
  height: 20px;
}

.base-top ul, .base-top ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.base ul li {
  float: left;
  margin: 1px 10px 1px 15px;
}

.base ul li p {
  margin: 0;
  color: #fff;
}

.base ul li:last-child {
  margin: 0 100px;
}

.base-left {
  float: left;
  width: 100%;
}

.info {
  width: 100%;
}

.info table {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #7a786a;
}

.info table tbody {
  float: left;
}

.info tr {
  width: 100%;
  float: left;
}
.info td {
  float: none;
  color: #fff;
}

.info .id-table {
  width: 40px;
  text-align: center;
}

.info .name-table {
  width: 200px;
  text-align: left;
}

.info .date-table {
  width: 115px;
  text-align: left;
}
